<img class="wave" src="assets/img/wave.png">

<div class="container">
  <div class="img">
    <img src="assets/img/bg.svg">
  </div>

  <div class="login-content">
    <form (ngSubmit)="handleLogin()" #loginForm="ngForm">
      <img src="assets\img\Logo-BNA-ASSURAnce-pour-site-1024x576.jpg">
      <h2 class="title">votre sinistre en ligne </h2>

      <!-- Champ username -->
      <div class="input-div one" [class.focus]="username">
        <div class="i">
          <i class="fas fa-user"></i>
        </div>
        <div class="div">
          <h5>Nom d'utilisateur</h5>
          <input 
            type="text" 
            name="username" 
            class="input" 
            [(ngModel)]="username" 
            required>
        </div>
      </div>

      <!-- Champ password -->
      <div class="input-div pass" [class.focus]="password">
        <div class="i">
          <i class="fas fa-lock"></i>
        </div>
        <div class="div">
          <h5>Mot de passe</h5>
          <input 
            type="password" 
            name="password" 
            class="input" 
            [(ngModel)]="password" 
            required>
        </div>
      </div>

      <a href="#">Mot de passe oublié ?</a>

      <!-- Affichage des messages d'erreur ou de succès -->
      <div *ngIf="invalidLogin" class="alert alert-warning">
        {{ errorMessage }}
      </div>
      <div *ngIf="loginSuccess" class="alert alert-success">
        {{ successMessage }}
      </div>

      <button type="submit" class="btn">Connexion</button>
    </form>
  </div>
</div>
